.list-cell:selected {
    -fx-background-color: #2d2a27;
}  

.list-cell {
    -fx-background-insets: 0.0;
    -fx-padding: 3px;
    -fx-background:  #36353c;
    -fx-background-color: transparent, -fx-background ;
    -fx-font-size:17.0;
    
} 

.jfx-check-box {
    -jfx-checked-color: #5f95f0;
    -jfx-unchecked-color: BLACK;
}


.jfx-progress-bar > .bar {
    -fx-background-color: #5f95f0;
}

.jfx-progress-bar > .secondary-bar {
    -fx-background-color:  #36353c;
}

